@model StudentDepartmentView;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    @*{var mod = ViewBag.Models;
    foreach(var m in mod){
            <h1> @(m.Student.Id) , @(m.Student.Name), @(m.Student.Age), @(m.Department.DeptId), @(m.Department.DeptName)</h1>
    }
    }*@
</body>
</html>
